<a href="https://colab.research.google.com/github/aso1901104/AI_teach2020/blob/master/2020AI020A_square.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 四角形の分類

In [394]:
# ライブラリの読み込み
import pandas as pd
# データを学習用とテスト用にわけるライブラリ
from sklearn.model_selection import train_test_split
# 学習精度を評価するライブラリ
from sklearn.metrics import accuracy_score
# ランダムフォレストアルゴリズムの学習モデル(分類)
from sklearn.ensemble import RandomForestClassifier
# 分類結果を出力するライブラリ
from sklearn.metrics import classification_report
# URLライブラリのrequestクラスをreqという別名でimport
import urllib.request as req

In [395]:
# urlという名前のオブジェクト変数を定義
url = "https://raw.githubusercontent.com/masatokg/square_data/master/data.csv"
# リンクから保存するためのファイル名を定義
savefile = "data.csv"
# reqestクラスを使ってurlからデータをsavefileへコピー
req.urlretrieve(url, savefile)

('data.csv', <http.client.HTTPMessage at 0x7ff57c1b1908>)

### ファイルを読み込む

In [396]:
# CSVファイル読み込み
square = pd.read_csv(savefile, encoding="utf-8")
square

     a_length  b_length  c_length  ...  cd_Parallel  ab_right_angle      shape
0          10        10        10  ...            1               1     square
1          11        11        11  ...            1               1     square
2          12        12        12  ...            1               1     square
3          13        13        13  ...            1               1     square
4          14        14        14  ...            1               1     square
..        ...       ...       ...  ...          ...             ...        ...
395       100       125       105  ...            0               0  trapezoid
396       101       126       106  ...            0               0  trapezoid
397       102       127       107  ...            0               0  trapezoid
398       103       128       108  ...            0               0  trapezoid
399       104       129       109  ...            0               0  trapezoid

[400 rows x 8 columns]

### データを目的変数と説明変数に分ける

In [397]:
# 目的変数は四角形の形
y = square["shape"]
# 説明変数は"shape"列を除外した残りすべて
x = square.drop("shape", axis=1)
x

     a_length  b_length  c_length  ...  ab_Parallel  cd_Parallel  ab_right_angle
0          10        10        10  ...            1            1               1
1          11        11        11  ...            1            1               1
2          12        12        12  ...            1            1               1
3          13        13        13  ...            1            1               1
4          14        14        14  ...            1            1               1
..        ...       ...       ...  ...          ...          ...             ...
395       100       125       105  ...            1            0               0
396       101       126       106  ...            1            0               0
397       102       127       107  ...            1            0               0
398       103       128       108  ...            1            0               0
399       104       129       109  ...            1            0               0

[400 rows x 7 columns]

### 学習データーと正解データに分ける

In [398]:
# _trainは学習用、_testはテスト（検証）用とする
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

# 学習モデルのインスタンスを生成
clf = RandomForestClassifier()

# 学習モデルに学習用の入力データと正解データを引き渡して学習させる
clf.fit(x_train, y_train)

# x_testデータを使って学習モデルclfに推論させる(結果は変数predに代入)
y_pred = clf.predict(x_test)

# テスト結果(y_pred)と、本当の実データ(正解ラベルデータ)を比較して精度を評価
print(classification_report(y_test, y_pred))
# 正解率
print("正解率 = ", accuracy_score(y_test, y_pred)*100,"%")

              precision    recall  f1-score   support

   rectangle       1.00      1.00      1.00        22
     rhombus       1.00      1.00      1.00        17
      square       1.00      1.00      1.00        16
   trapezoid       1.00      1.00      1.00        25

    accuracy                           1.00        80
   macro avg       1.00      1.00      1.00        80
weighted avg       1.00      1.00      1.00        80

正解率 =  100.0 %